# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np
from scipy.stats import ttest_1samp
from scipy.stats import ttest_ind
from scipy.stats import ttest_rel
from scipy.stats import f_oneway, norm, f, chi2, chi2_contingency

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [4]:
pokemon.columns=[e.lower().replace(' ', '_') for e in pokemon.columns]

In [5]:
pokemon.head()

,#,name,type_1,type_2,total,hp,attack,defense,sp._atk,sp._def,speed,generation,legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [7]:
# Your code here:
pokemon.legendary.value_counts()

False    735
True      65
Name: legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [8]:
# Your code here:
true_1 = pokemon.loc[pokemon['legendary'] == True]
true_1['total'].mean(), true_1['total'].std()

(637.3846153846154, 60.93738905315346)

In [9]:
false_1 = pokemon.loc[pokemon['legendary'] == False]
false_1['total'].mean(), false_1['total'].std()

(417.21360544217686, 106.76041745713022)

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [10]:
# Your code here:
ttest_ind(true_1.total, false_1.total)

Ttest_indResult(statistic=16.386116965872425, pvalue=3.0952457469652825e-52)

What do you conclude from this test? Write your conclusions below.

In [11]:
# Your conclusions here:
# son valores independientes, puesto que el Pvalor es menor a nuestro umbral (5%)

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [12]:
# Your code here:
pokemon['type_1'].value_counts()

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: type_1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [13]:
# Your code here:
pokemon_water= pokemon.loc[pokemon['type_1'] == 'Water']
pokemon_water['total'].mean(), pokemon_water['total'].std()

(430.45535714285717, 113.18826606431458)

In [14]:
pokemon_no_water= pokemon.loc[pokemon['type_1'] != 'Water']
pokemon_no_water['total'].mean(), pokemon_no_water['total'].std()

(435.85901162790697, 121.09168230208066)

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [15]:
ttest_ind(pokemon_no_water.total, pokemon_water.total)

Ttest_indResult(statistic=0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [28]:
# Your conclusions here:
#Son muy dependientes.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [17]:
# Your code here:
ttest_rel(pokemon['attack'], pokemon['defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [27]:
# Your conclusions here:
#rechazamos la H0, decimos que las puntuaciones de ataques y defensa no son iguales.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [19]:
# Your code here:
pokemon['sp._atk'].mean(), pokemon['sp._atk'].std()

(72.82, 32.72229416880157)

In [20]:
pokemon['sp._def'].mean(), pokemon['sp._def'].std()

(71.9025, 27.82891579711745)

In [21]:
ttest_rel(pokemon['sp._atk'], pokemon['sp._def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [26]:
# Your conclusions here:
#Nos quedamos con H0

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [23]:
# Your code here:
ttest_1samp(pokemon['attack'] - pokemon['defense'], 0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [24]:
# Your code here:
tabla=pd.crosstab(pokemon['type_1']== 'Water', pokemon['legendary'])
tabla

legendary  False  True
type_1
False        627    61
True         108     4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [25]:
# Your code here:
chi2_contingency(tabla)

(2.9429200762850503,
 0.08625467249550949,
 1,
 array([[632.1,  55.9],
        [102.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here:

Con un intervalo de confiazan del 95%, aceptamos H0.